############################################################################### 
# making sure that .sh files are in lf format, not crlf 
############################################################################### 
*.sh text eol=lf
